
.itscreen{
  
  background-size: cover;
  max-width: auto;
  min-height: 50vh;
}

.custom-shape-divider-bottom-1685312267 {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
}

.custom-shape-divider-bottom-1685312267 svg {
   position: relative;
   display: block;
   width: calc(103% + 1.3px);
   height: 117px;
}

.custom-shape-divider-bottom-1685312267 .shape-fill {
   fill: #fff;
}
.service
{
   margin-top: 50px;
}

/** For mobile devices **/
@media (max-width: 767px) {
   .custom-shape-divider-bottom-1685312267 svg {
       width: calc(140% + 1.3px);
       height: 90px;
   }
}